[submodule "firmware"]
	path = firmware
	url = https://github.com/Nigh/HAMKey-firmware
	branch = lite
[submodule "layout"]
	path = layout
	url = https://github.com/Nigh/HAMKey-Lite-layout
	branch = main
[submodule "3D"]
	path = 3D
	url = https://github.com/Nigh/HAMKey-Lite-3D
	branch = main
